*{
    margin: 0px;
    padding: 0px;
}
.outer{
    width: 700px;
    height: 1975px;
    border: 2px solid black;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 25px;
    margin: 0px auto;

}
.detail{
    text-align:  right;
}
p{
    font-size: 16px;

}
.border{
    -webkit-print-color-adjust: exact;/*this is to provide color while printing*/
    width: 100%;
    padding: 5px;
    background-color:	#C8C8C8;
    border: 1px solid black;
    font-weight: bold;
}
table{
    border: 1px solid black;
    height: 200px;

}
td{
    border: 1px solid black;
    padding: 10px;
}
th{
    border: 1px solid black;
    padding: 10px;
}
li{
    font-size: 16px;
    margin-left: 20px;
}
.fire{
    text-align: justify;
}
